.pyd
*.o
*.orig
*.a
*.so
*.x
*.lib
*.exe
*.obj
.ipynb_checkpoints
cuvis_il.py
.eggs
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.in
cubert_env/
/Python/src/cuvis/examples/
/Python/examples/EX02_reprocessed/
/Python/examples/EX03_export/
