[submodule "cuvis.c"]
	path = cuvis.c
	url = https://github.com/cubert-hyperspectral/cuvis.c
[submodule "cuvis.cpp"]
	path = cuvis.cpp
	url = https://github.com/cubert-hyperspectral/cuvis.cpp
[submodule "cuvis.csharp"]
	path = cuvis.csharp
	url = https://github.com/cubert-hyperspectral/cuvis.csharp
[submodule "cuvis.python"]
	path = cuvis.python
	url = https://github.com/cubert-hyperspectral/cuvis.python
[submodule "examples/cuvis.c"]
	path = examples/cuvis.c
	url = https://github.com/cubert-hyperspectral/cuvis.c.examples
[submodule "examples/cuvis.cpp"]
	path = examples/cuvis.cpp
	url = https://github.com/cubert-hyperspectral/cuvis.cpp.examples
[submodule "examples/cuvis.csharp"]
	path = examples/cuvis.csharp
	url = https://github.com/cubert-hyperspectral/cuvis.csharp.examples
[submodule "examples/cuvis.python"]
	path = examples/cuvis.python
	url = https://github.com/cubert-hyperspectral/cuvis.python.examples
